@media screen and (max-width: 450px){
    nav {
        display: none;
    }
    h1{
        font-size: x-large;
    }
    img{
        height: 25px;
        margin: 0 4px;
    }
}
@media screen and (max-width: 850px) and (min-width: 451px){
    nav {
        display: none;
    }
    img{
        height: 30px;
        margin: 0 6px;
    }
}
@media screen and (min-width: 851px){
    nav {
        display: flex;
    }
    img{
        height: 30px;
        margin: 0 6px;
    }
}
header{
    background-color: #101010;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}
a{
    text-decoration: none;
}
.socialNetwork{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.socialNetwork:hover{
    transform: translateY(7px);
}
span{
    font-family: Oswald;
}
h1 {
    text-align: center;
    margin: 0;
}
header > div {
    min-width: fit-content;
    width: 25%;
    display: flex;
    justify-content: center;
}
nav{
    max-width: 600px;
    min-width: 300px;
    flex-direction: row;
    justify-content: space-evenly;
}
header>*{
    align-items: center;
}

.category{
    height: 100%;
}