<div id="thirdDiv">
    <h2>LES ENTREPRISES A SUCCES PAIERAIENT CHERE POUR QUE TU NE SACHES PAS CELA</h2>
    <h3>Ou comment passer à la vitesse supérieure grâce au Copywriting</h3>
    <p>En faisant face à ton entreprise, peux-tu voir la réussite et le succès que tu imaginais ?</p>
    <p>Certes tu as accumulé une audience respectable, mais te font-ils suffisamment confiance au point 
        de faire appel à tes services ? Ton entourage voit-il en toi un professionnel, sûr de lui, compétent, 
        ou un enfant qui s'amuse à poster de manière hasardeuse sur les réseaux ?</p>
    <p>Honnêtement..</p>
    <p>Ressens-tu de la fierté quand on te demande des nouvelles de ton entreprise ?</p>
    <p>Ou te contentes-tu de bégayer des excuses bonnes qu'à rattraper ton égo ?</p>
    <p>Là est la question.</p>
    <p>Si tu en as marre de te contenter de ce mode de vie et que tu souhaites passer définitivement à la vitesse supérieure, 
        alors clique sur le bouton juste en bas et fait de ton entreprise un succès mémorable.</p>
    <a href="#fourthDiv">COMMENCE MAINTENANT !</a>
</div>