<app-nicetomeetyou></app-nicetomeetyou>
<div class="marquee">
    <div>
        <p>✔ Accompagnement personnalisé</p>
        <p>✔ Application Web immersive</p>
        <p>✔ Copywriting sur mesure</p>
        <p>✔ Accompagnement personnalisé</p>
        <p>✔ Application Web immersive</p>
        <p>✔ Copywriting sur mesure</p>
        <p>✔ Accompagnement personnalisé</p>
        <p>✔ Application Web immersive</p>
        <p>✔ Copywriting sur mesure</p>
        <p>✔ Accompagnement personnalisé</p>
        <p>✔ Application Web immersive</p>
        <p>✔ Copywriting sur mesure</p>
    </div>
</div>
<app-nothingimpossible></app-nothingimpossible>