@media screen and (max-width:900px) {
    h2{
        font-size: xxx-large;
    }
    p, h3{
        font-size: x-large;
    }
    p{
        width: 90%;
    }
}
@media screen and (min-width:901px) {
    
}
.wrap{
    flex-wrap: wrap;
}
*{
    color: black;
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
}
div.column{
    justify-content: center;
    align-items: center;
}
.texte{
    flex-grow: 1;
}
.column{
    display: flex;
    flex-direction: column;
}
.row>div{
    width: 50%;
}
.black{
    flex-grow: 1;
    height: 100%;
    background: rgb(32,32,32);
    background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(45,45,45,1) 100%);
}