<div class="main">
    <div class="texte">
        <img src="assets/images/walk.jpg">
        <div>
            <h2>La rapidité c'est la <span class="yellow">clé</span></h2>
            <h3>Présentation en moins de 50 mots, promis</h3>
            <p>Serial copywriter, avec un petit faible pour le marketing digital et pour la persuasion humaine je l'avoue.
                J'aime voir les êtres humains se mobiliser pour afficher le meilleur d'eux-mêmes. Et donc je serai ravi de pouvoir t'aider à faire de même.
            </p>
            <p>
                Alors, promesse tenue ?
            </p>
        </div>
    </div>
</div>