/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Oswald;
    src: url('assets/fonts/Oswald-Regular.ttf') format('truetype'),
        url('assets/fonts/Oswald-Regular.otf') format('opentype'),
        url('assets/fonts/oswald-variablefont_wght-webfont.woff') format('woff'),
        url('assets/fonts/oswald-variablefont_wght-webfont.woff2') format('woff2');
}
@font-face {
    font-family: Roboto;
    src: url('assets/fonts/Roboto-Regular.ttf') format('truetype'),
    url('assets/fonts/roboto-regular-webfont.woff') format('woff'),
    url('assets/fonts/roboto-regular-webfont.woff2') format('woff2');
}
h2, h1, h3, h2 *, a{
    font-family: Oswald;
}
* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
body{
    margin: 0;
    background-color: #FFFFFC;
}
html, body { height: 100%; }
.yellow{
    color: #F5CB5C;
}