<div id="secondDiv">
    <div class="tache">
        <img src="assets/images/tache.png">
    </div>
    <div class="quiSuisJe">
        <h2>QUI SUIS-JE ?</h2>
        <h3>Un copywriter qui n’a pas la langue dans sa poche</h3>
        <p>Besoin d’aide pour sortir du lot ? Pour faire rayonner tes idées ? De conseils
            rédactionnels concernant X page, Y e-mail ou Z publication ?</p>
        <p>Tu toques à la bonne porte ! Copywriter spécialisé dans le personal branding, j’aide les
            entrepreneurs talentueux et pleins de ressources à développer leur voix, à gagner en visibilité
            et améliorer leurs performances commerciales en écrivant des histoires impactantes sur
            leurs entreprises, leurs produits et leurs services.</p>
        <a [routerLink]="'/about-us'">En savoir plus</a>
    </div>
</div>