<app-hero-section></app-hero-section>
<div id="secondDiv">
    <div class="tache">
        <img src="assets/images/tache.png">
    </div>
    <div class="quiSuisJe">
        <h2>QUI SUIS-JE ?</h2>
        <h3>Un copywriter qui n’a pas la langue dans sa poche</h3>
        <p>Besoin d’aide pour sortir du lot ? Pour faire rayonner tes idées ? De conseils
            rédactionnels concernant X page, Y e-mail ou Z publication ?</p>
        <p>Tu toques à la bonne porte ! Copywriter spécialisé dans le personal branding, j’aide les
            entrepreneurs talentueux et pleins de ressources à développer leur voix, à gagner en visibilité
            et améliorer leurs performances commerciales en écrivant des histoires impactantes sur
            leurs entreprises, leurs produits et leurs services.</p>
        <a href="#">En savoir plus</a>
    </div>
</div>
<div id="thirdDiv">
    <h2>POUR AUGMENTER TON NOMBRE DE CLIENT, FAIT PARLER DE TOI !</h2>
    <h3>Ou comment entrer en contact avec les clients qui te correspondent</h3>
    <p>Tu essaies de parler mais les mots ne viennent pas, ou.. pas comme tu le voudrais ?</p>
    <p>Peut-être viennent-ils mais personne n’y prête attention ?</p>
    <p>Ou alors, ne sais-tu pas comment sortir du lot ?</p>
    <p>Pas d’inquiétude ! Ici on écrit dans un seul but : permettre à TON identité de rayonner et à TA
        voix de se faufiler pour impacter les clients qui TE conviennent ! Notre approche basée sur
        des techniques marketings fiables te permettront d’exprimer au monde la valeur que tu as à
        apporter.</p>
    <p>Il ne s’agit :</p>
    <ul>
        <li>ni de méthodes de prospections intrusives qui feront fuir ta clientèle ;</li>
        <li>ni de dépenses abusives et inutiles dans des publicités en lignes inefficaces ;</li>
        <li>ni de méthodes d’acquisitions d’audiences farfelues qui vous feront perdre
            l’ascendant sur les algorithmes de recommandation.</li>
    </ul>
    <p>Non ! Ici on privilégie des méthodes durables qui te permettront de te rapprocher de la
        clientèle qui partage les mêmes valeurs que toi et ton entreprise.</p>
    <p>Qu’attends-tu ? Obtiens ton accompagnement personnalisé dès maintenant ! ⬇️</p>
    <a>COMMENCE DÈS MAINTENANT !</a>
</div>
<div id="fourthDiv">
    <h2>QUELS SONT MES SERVICES ?</h2>
    <h3>Un leader ne part pas en guerre sans plan, ni armes</h3>
    <div class="row">
        <div>
            <h3>REDACTION COPYWRITING</h3>
            <!--<p>Tu souhaites :</p>
            <ul>
                <li>Plus d’engagement ?</li>
                <li>Un meilleur taux de conversion ?</li>
                <li>Élargir ta visibilité ?</li>
            </ul>-->
            <div>
                <p>Je rédige (ou réécris) de manière impactante et selon TES objectifs l’ensemble 
                    de tes contenus web :</p>
                <ul>
                    <li>pages de ventes ;</li>
                    <li>newsletters ;</li>
                    <li>publications sur les réseaux sociaux ;</li>
                    <li>A propos/Qui sommes-nous ? ;</li>
                    <li>Articles...</li>
                </ul>
            </div>
            <a>+ DETAILS</a>
        </div>
        <div>
            <h3>STRATEGIE MARKETING</h3>
            <div>
                <p>Je met en place ta stratégie de contenu pour qu’elle colle à TES valeurs et à TES objectifs :</p>
                <ul>
                    <li>Je t’offre une vision rationnelle du marché.
                        Je segmente et détermine tes cibles principales ;</li>
                    <li>J’établis le persona pour comprendre ses comportements sous-jacents ;</li>
                    <li>Je met en place une stratégie de contenu adéquate.</li>
                </ul>  
            </div>
            <a>+ DETAILS</a>
        </div>
        <div>
            <h3>CREATION DE SITE WEB</h3>
            <div>
                <p>Je développe/administre selon TES besoins des sites web responsives, immersifs
                et optimisés pour le référencement naturel (SEO) :</p>
                <ul>
                    <li>Site vitrine ;</li>
                    <li>Site e-commerce ;</li>
                    <li>Application web ;</li>
                </ul>
            </div>
            
            <a>+ DETAILS</a>
        </div>
    </div>
</div>