.text{
    display: flex;
    background: linear-gradient(90deg, rgba(32,32,32,1) 0%, rgba(45,45,45,1) 100%);
    flex-direction: row;
    align-items: center;
    font-size: x-large;
    flex-wrap: wrap;
}
.text>div{
    flex-grow: 2;
    min-height: 800px;
    width: 66%;
    min-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text p, h2, h3{
    width: 60%;
}
.text h3,h2{
    text-align: center;
}
img{
    display: flex;
    width: 34%;
    flex-grow: 1;
    min-width: 500px;
    min-height: 800px;
    
}
h2{
    font-size: xx-large;
}