<div class="main">
    <div class="text">
        <div class="textContent">
            <h2>Hello <span class="yellow">&#60;YourName&#62;</span>, moi c'est Jawad</h2>
            <h3>Un copywriter indépendant qui n'a pas la langue dans sa poche</h3>
            <p>
                J'emploie les mots pour raconter des histoires impactantes sur des personnes, des produits et des services, et pour afficher 
                les valeurs qu'ils apportent au monde.
            </p>
        </div>
        <div class="image" appBackground="assets/images/me_2.jpg">
        </div>
    </div>
</div>